.header{
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__link{ 
	margin-right: 15px;
	color: white;
}

.header__link.-up{
	text-transform: uppercase;
}

.header__link.-up.-grey{
	color: grey;
}

.header__actions{
	display: flex;
	align-items: center;
}

.burger{
	display: none;
}

@media screen and (max-width:1024px){
	.header__link{
		font-size: 13px;
	}
<<<<<<< HEAD

	.header__actions{
		display: none;
	}

	.button.-success{
		justify-content: center;
=======
}

@media screen and (max-width:767px){
	.header__actions{
		
>>>>>>> 452036c6226c0741e8c5b5ec9dac8c6b486137dc
	}

	.burger__button{
		display: flex;
		flex-direction: column;
<<<<<<< HEAD
		justify-content: flex-end;
=======
>>>>>>> 452036c6226c0741e8c5b5ec9dac8c6b486137dc
	}

	.burger__item{
		height: 3px;
		width: 30px;
		margin-bottom: 5px;
	}

<<<<<<< HEAD
	.header__link{
		display: none;
	}

	.header__link.-grey{
=======
	.burger__menu {
		display: none;
	}

	.burger:hover .burger__menu {
>>>>>>> 452036c6226c0741e8c5b5ec9dac8c6b486137dc
		display: block;
	}
}

<<<<<<< HEAD
@media screen and (max-width:767px){
	.header__link.-grey{
		display: none;
	}
}


=======
>>>>>>> 452036c6226c0741e8c5b5ec9dac8c6b486137dc
