.header{
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
}

.header__link{ 
	margin-right: 15px;
	color: white;
}

.header__link.-up {
	text-transform: uppercase;
	color:  var(--color-blue);
}

.header__location .header__link:last-child {
	display: none;
	color:  var(--color-blue);
}

.header__actions{
	display: flex;
	align-items: center;
}

.burger{
	display: none;
	flex-direction: column;
	justify-content: flex-end;
}

.burger__item {
	display: block;
	height: 2px;
	width: 30px;
	margin-bottom: 5px;
	background-color: var(--color-white);
}

.burger__item:nth-child(2) {
	width: 20px;
}

@media screen and (max-width:1024px){
	.header__link{
		margin-right: 12px;
		font-size: 13px;
	}
}

@media screen and (max-width:767px){
	.header__actions {
		display: none;
	}

	.header__location .header__link:first-child {
		display: none;
	}

	.header__location .header__link:last-child {
		display: block;
	}

	.burger {
		display: flex;
	}
}

@media screen and (max-width: 689px) {
	.header__location .header__link:last-child {
		color: var(--color-white);
	}
}