.hero{
	min-height: 100vh;
	background-image: url(../img/image.png) ;
	background-repeat: no-repeat;
	background-size: 100%;
}

.button{
	margin-left: 15px;
	width: 160px;
	height: 42px;
	border: 0 solid;
	border-radius: 50px;
	color:  var(--color-blue);
	font-size: 15px;
}

.hero__content{
	display: flex;
	justify-content: flex-end;
}

.hero__info{
	width: 50%;
	margin-top: 70px;
	color: white;
	font-size: 42px;
}

.hero__date{
	margin-bottom: 20px;
}

.hero__tagline{
	margin-bottom: 20px;
}

.hero__detail{
	margin-bottom: 20px;
}

.button.-success{
	margin-left: 0 ;
	width: 192px;
	height: 50px;
	border: 1px #34bf69 solid;
	border-radius: 50px;
	background-color: var(--color-green);
	font-size: 30px;
	color: white;
}

.circle__assessment{
	font-size: 30px;
}

.circle__author{
	font-size: 20px;
}

.circle__about{
	color:  var(--color-blue);
}

@media screen and (max-width: 1500px){
	.hero__info{
		font-size: 28px;
	}
}

@media screen and (max-width: 1200px){
	.button{
		font-size: 10px;
	}

	.button.-success{
		width: 140px;
		height: 38px;
		font-size: 12px;
	}
}

@media screen and (max-width: 1120px){
	.hero__tagline {
		font-size: 38px;
	}

	.hero__date,
	.hero__detail {
		font-size: 20px;
	}

	.hero__info {
		margin-top: 20px;
	}
}

@media screen and (max-width: 939px){
	.hero__content {
		justify-content: center;
	}

	.hero__info {
		width: 100%;
		padding-left: 200px;
	}
}

@media screen and (max-width:767px){
	.hero__info{
		font-size: 15px;
	}

	.hero__content{
		display: flex;
		justify-content: flex-start;
	}
}

@media screen and (max-width: 689px) {
	.hero__info {
		padding: 0 15px;
	}
}