.information{
	margin-top: 100px;
	padding: 80px;
	background: rgba(47, 128, 237, 0.05);
}

.information__content{
	display: flex;
	justify-content: center; 
}

.information__body{
	border: 1px solid rgba(47, 128, 237, 0.3);
	background-color: #ffffff;
	width: 15%;
	margin-right: 40px;
	display: flex;
	align-items: center;
}

.information__text{
	color: grey;
	margin-left: 15px;
}

.button.-information{
	width: 15%;
	height: 50px;
	border: 1px #34bf69 solid;
	border-radius: 50px;
	background-color: var(--color-green);
	font-size: 20px;
	color: white;
}