.info__title{
	color: #1cbfff;
	font-size: 30px;
}

.info__desk{
	color: grey;
	font-size: 25px;
}

.info{
	display: flex;
	flex-wrap: wrap;
	width: 60%;
}

.tagline{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
}

.tagline__text{
	max-width: 50%;
}

.reasons__content{
	display: flex;
	justify-content: space-between;
}

.info__body{
	padding: 20px;
	background: #EDF8FF;
	max-width: 40%;
	margin-bottom: 20px;
}

.info__body:first-child{
	margin-right: 20px;
}

.info__body:nth-child(3){
	margin-right: 20px;
}

@media screen and (max-width: 1120px){
	@media screen and (max-width: 1120px){
	.reasons__content{
		flex-direction: column;
}
}