.result{
	background-color: var(--color-blue-dark);
	padding-top: 30px;
}

.result__text{
	margin-top: 80px;
	margin-bottom: 40px;
	color: #ffffff;
}

.card__title{
	color: #2F80ED;
	margin-bottom: 15px;
}

.card__info{
	color: grey;
}

.card__text{
	width: 80%;
}

.result__content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card{
	width: 35%;
	display: flex;
	background-color: #ffffff;
	margin-bottom: 40px;
	padding: 20px;
	border-radius: 15px;
}

.card__image{
	width: 20%;
}

.card__picture{
	max-width: 100%;
}